---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=India
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data_valid": false, "error": {"message": "No data available for provided
        location", "code": 21}}'
  recorded_at: Sun, 06 Mar 2016 19:55:51 GMT
recorded_with: VCR 3.0.1
