---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data_valid": false, "error": {"message": "Invalid coordinates", "code":
        30}}'
  recorded_at: Thu, 10 Mar 2016 02:01:32 GMT
recorded_with: VCR 3.0.1
