---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Boston,%2BMA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 69, "breezometer_color":
        "#8AD130", "breezometer_description": "Fair Air Quality", "country_aqi": 37,
        "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "You should supervise your children in the coming hours and monitor
        changes in air quality", "sport": "Since we inhale more air during sports,
        you should keep track of changes in air quality for the next few hours", "health":
        "There is no real danger for people with health sensitivities. Just keep an
        eye out for changes in air quality for the next few hours", "inside": "The
        air quality is still good - we''ll keep you updated if things get worse",
        "outside": "You can go out, but please pay attention for changes in air quality"},
        "dominant_pollutant_canonical_name": "pm2.5", "dominant_pollutant_description":
        "Fine particulate matter (<2.5\u00b5m)", "dominant_pollutant_text": {"main":
        "The dominant pollutant is fine particulate matter (PM2.5).", "effects": "Particles
        enter the lungs and cause local and systemic inflammation in the respiratory
        system & heart, thus cause cardiovascular and respiratory diseases such as
        asthma and bronchitis.", "causes": "Main sources are fuel burning processes
        in industry, transportation and indoor heating."}}'
  recorded_at: Sun, 06 Mar 2016 19:36:16 GMT
recorded_with: VCR 3.0.1
