---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Denver,%2BCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 83, "breezometer_color":
        "#4AB936", "breezometer_description": "Excellent Air Quality", "country_aqi":
        19, "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "Hip Hip, Hooray! What a wonderful atmosphere for kids! Don''t
        wait at home with them another minute!", "sport": "This is an excellent opportunity
        to enjoy your favorite outdoor activity without any worries", "health": "This
        air quality is excellent for people with respiratory sensitivities", "inside":
        "Ventilate the house with the great air outside", "outside": "It''s an ideal
        time to go outside and enjoy the fresh air"}, "dominant_pollutant_canonical_name":
        "no2", "dominant_pollutant_description": "Nitrogen dioxide", "dominant_pollutant_text":
        {"main": "The dominant pollutant is nitrogen dioxide (NO\u2082).", "effects":
        "Exposure may cause increased bronchial reactivity in patients with asthma,
        lung function decline in patients with COPD and increased risk of respiratory
        infections, especially in young children", "causes": "Main sources are fuel
        burning processes in industry and transportation."}}'
  recorded_at: Thu, 03 Mar 2016 20:31:50 GMT
recorded_with: VCR 3.0.1
