---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Los%2BAngeles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 47, "breezometer_color":
        "#FFED00", "breezometer_description": "Moderate Air Quality", "country_aqi":
        80, "country_aqi_prefix": "", "country_color": "#FFFF00", "country_description":
        "Moderate air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "You can go outside with the kids, but monitor their breathing
        & pay attention to notifications", "sport": "You should look for an alternative
        area with better air quality to work out", "health": "Exposure to air hazards
        is dangerous for people with health sensitivities, so it is important to monitor
        air quality at this time", "inside": "We''re not going to tell you not to
        go outside, but you should continue tracking the air quality around you",
        "outside": "If you wish to stay outside for a long time, you should try to
        find a cleaner place nearby"}, "dominant_pollutant_canonical_name": "pm2.5",
        "dominant_pollutant_description": "Fine particulate matter (<2.5\u00b5m)",
        "dominant_pollutant_text": {"main": "The dominant pollutant is fine particulate
        matter (PM2.5).", "effects": "Particles enter the lungs and cause local and
        systemic inflammation in the respiratory system & heart, thus cause cardiovascular
        and respiratory diseases such as asthma and bronchitis.", "causes": "Main
        sources are fuel burning processes in industry, transportation and indoor
        heating."}}'
  recorded_at: Fri, 04 Mar 2016 04:11:06 GMT
[...]
