---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Beijing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"datetime": "2016-03-09T23:21:56", "country_name": "China", "breezometer_aqi":
        74, "breezometer_color": "#72C833", "breezometer_description": "Fair Air Quality",
        "country_aqi": 31, "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Excellent air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "No reason to panic, but pay attention to changes in air quality
        and any signals of breathing problems in your children", "sport": "Since we
        inhale more air during sports, you should keep track of changes in air quality
        for the next few hours", "health": "Exposure to air hazards is dangerous for
        people with health sensitivities, so it is important to monitor air quality
        at this time", "inside": "The air quality is still good - we''ll keep you
        updated if things get worse", "outside": "It''s still OK to go out and enjoy
        a stroll, just pay attention for changes in air quality"}, "dominant_pollutant_canonical_name":
        "o3", "dominant_pollutant_description": "Ozone", "dominant_pollutant_text":
        {"main": "The dominant pollutant is ozone (O\u2083).", "effects": "Ozone can
        irritate the airways causing coughing, a burning sensation, wheezing and shortness
        of breath. Children, people with respiratory or lung and heart diseases, elderly
        and those who exercise outdoors are particularly vulnerable to ozone exposure.",
        "causes": "Ozone is created in a chemical reaction between atmospheric oxygen,
        nitrogen oxides, organic compounds and sunlight."}}'
  recorded_at: Wed, 09 Mar 2016 23:55:04 GMT
recorded_with: VCR 3.0.1
