---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Denver%2BCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 72, "breezometer_color":
        "#7BCB33", "breezometer_description": "Fair Air Quality", "country_aqi": 33,
        "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "You should supervise your children in the coming hours and monitor
        changes in air quality", "sport": "You can go on a run - just keep your nose
        open for any changes!", "health": "Exposure to air hazards is dangerous for
        people with health sensitivities, so it is important to monitor air quality
        at this time", "inside": "The amount of pollutants in the air is noticeable,
        but still there is no danger to your health - It is recommended to continue
        monitoring changes in the coming hours", "outside": "It''s still OK to go
        out and enjoy a stroll, just pay attention for changes in air quality"}, "dominant_pollutant_canonical_name":
        "no2", "dominant_pollutant_description": "Nitrogen dioxide", "dominant_pollutant_text":
        {"main": "The dominant pollutant is nitrogen dioxide (NO\u2082).", "effects":
        "Exposure may cause increased bronchial reactivity in patients with asthma,
        lung function decline in patients with COPD and increased risk of respiratory
        infections, especially in young children", "causes": "Main sources are fuel
        burning processes in industry and transportation."}}'
  recorded_at: Wed, 02 Mar 2016 17:44:20 GMT
recorded_with: VCR 3.0.1
