---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Boston,%2BMA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 80, "breezometer_color":
        "#58BE35", "breezometer_description": "Excellent Air Quality", "country_aqi":
        24, "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "The air is ideal for outdoor activities with infants and children",
        "sport": "This air quality is perfect for engaging in outdoor physical activities",
        "health": "This air quality is excellent for people with respiratory sensitivities",
        "inside": "Ventilate the house with the great air outside", "outside": "Hooray!
        The air quality outside is awesome!"}, "dominant_pollutant_canonical_name":
        "o3", "dominant_pollutant_description": "Ozone", "dominant_pollutant_text":
        {"main": "The dominant pollutant is ozone (O\u2083).", "effects": "Ozone can
        irritate the airways causing coughing, a burning sensation, wheezing and shortness
        of breath. Children, people with respiratory or lung and heart diseases, elderly
        and those who exercise outdoors are particularly vulnerable to ozone exposure.",
        "causes": "Ozone is created in a chemical reaction between atmospheric oxygen,
        nitrogen oxides, organic compounds and sunlight."}}'
  recorded_at: Thu, 03 Mar 2016 21:48:14 GMT
recorded_with: VCR 3.0.1
