---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Boston,%2BMA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 69, "breezometer_color":
        "#8AD130", "breezometer_description": "Fair Air Quality", "country_aqi": 37,
        "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "You should supervise your children in the coming hours and monitor
        changes in air quality", "sport": "You can go on a run - just keep your nose
        open for any changes!", "health": "Exposure to air hazards is dangerous for
        people with health sensitivities, so it is important to monitor air quality
        at this time", "inside": "The amount of pollutants in the air is noticeable,
        but still there is no danger to health - It is recommended to watch for changes",
        "outside": "It''s still OK to go out and enjoy a stroll, just pay attention
        for changes in air quality"}, "dominant_pollutant_canonical_name": "pm2.5",
        "dominant_pollutant_description": "Fine particulate matter (<2.5\u00b5m)",
        "dominant_pollutant_text": {"main": "The dominant pollutant is fine particulate
        matter (PM2.5).", "effects": "Particles enter the lungs and cause local and
        systemic inflammation in the respiratory system & heart, thus cause cardiovascular
        and respiratory diseases such as asthma and bronchitis.", "causes": "Main
        sources are fuel burning processes in industry, transportation and indoor
        heating."}}'
  recorded_at: Sun, 06 Mar 2016 19:26:28 GMT
- request:
    method: post
    uri: https://ACacbd98a93f543d9650fd723bc9141cf5:4532a2b33e08e7db1b8c126073245b88@api.twilio.com/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B13039315611&Body=Air+Alert%3A+Air+quality+for+Boston%2C+MA+is+69+%28Fair+Air+Quality%29.+It%27s+still+OK+to+go+out+and+enjoy+a+stroll%2C+just+pay+attention+for+changes+in+air+quality
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.071'
      Twilio-Request-Id:
      - RQ384d040e35534aabadfed68caae51d4d
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM01ff58f9a76949228cda65b0f6a7c61c", "date_created": "Sun,
        06 Mar 2016 19:26:29 +0000", "date_updated": "Sun, 06 Mar 2016 19:26:29 +0000",
        "date_sent": null, "account_sid": "ACacbd98a93f543d9650fd723bc9141cf5", "to":
        "+13039315611", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Air Alert: Air quality for Boston,
        MA is 69 (Fair Air Quality). It''s still OK to go out and enjoy a stroll,
        just pay attention for changes in air quality", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "uri": "/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages/SM01ff58f9a76949228cda65b0f6a7c61c.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages/SM01ff58f9a76949228cda65b0f6a7c61c/Media.json"}}'
  recorded_at: Sun, 06 Mar 2016 19:26:29 GMT
[...]
