---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Beijing,%2BChina
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "China", "breezometer_aqi": 30, "breezometer_color":
        "#FF8C00", "breezometer_description": "Low Air Quality", "country_aqi": 123,
        "country_aqi_prefix": "", "country_color": "#FF7E00", "country_description":
        "Light air pollution", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "Keep calm and stay indoors. Do it for the kids\u2026", "sport":
        "You don\u2019t want to do your workout in this environment. Find a cleaner
        area", "health": "There is a strong chance for respiratory distress for those
        with respiratory sensitivities", "inside": "It is a good idea to stay in closed
        & air conditioned places", "outside": "You don''t have to stay inside but
        try to find a cleaner place in the area"}, "dominant_pollutant_canonical_name":
        "pm10", "dominant_pollutant_description": "Inhalable particulate matter (<10\u00b5m)",
        "dominant_pollutant_text": {"main": "The dominant pollutant is inhalable particulate
        matter (PM10).", "effects": "Particles enter the lungs and cause local and
        systemic inflammation in the respiratory system & heart, thus cause cardiovascular
        and respiratory diseases such as asthma and bronchitis.", "causes": "Main
        sources are natural dust, smoke and pollen."}}'
  recorded_at: Sun, 06 Mar 2016 02:37:52 GMT
recorded_with: VCR 3.0.1
