---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Denver,%2BCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"datetime": "2016-03-10T00:52:06", "country_name": "United States",
        "breezometer_aqi": 74, "breezometer_color": "#72C833", "breezometer_description":
        "Fair Air Quality", "country_aqi": 31, "country_aqi_prefix": "", "country_color":
        "#00E400", "country_description": "Good air quality", "data_valid": true,
        "key_valid": true, "random_recommendations": {"children": "Have fun with the
        kids outside, but stay alert for our notifications", "sport": "You can exercise
        outdoors - but make sure to stay alert to our notifications", "health": "People
        with health sensitivities should monitor the air quality in the next few hours",
        "inside": "The amount of pollutants in the air is noticeable, but still there
        is no danger to health - It is recommended to watch for changes", "outside":
        "You can go out, but please pay attention for changes in air quality"}, "dominant_pollutant_canonical_name":
        "o3", "dominant_pollutant_description": "Ozone", "dominant_pollutant_text":
        {"main": "The dominant pollutant is ozone (O\u2083).", "effects": "Ozone can
        irritate the airways causing coughing, a burning sensation, wheezing and shortness
        of breath. Children, people with respiratory or lung and heart diseases, elderly
        and those who exercise outdoors are particularly vulnerable to ozone exposure.",
        "causes": "Ozone is created in a chemical reaction between atmospheric oxygen,
        nitrogen oxides, organic compounds and sunlight."}}'
  recorded_at: Thu, 10 Mar 2016 01:53:24 GMT
recorded_with: VCR 3.0.1
