---
http_interactions:
- request:
    method: get
    uri: http://api.breezometer.com/baqi?key=d30efaaa5b744a0b820fd3cd81c35c28&location=Denver,%2BCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"country_name": "United States", "breezometer_aqi": 72, "breezometer_color":
        "#7BCB33", "breezometer_description": "Fair Air Quality", "country_aqi": 33,
        "country_aqi_prefix": "", "country_color": "#00E400", "country_description":
        "Good air quality", "data_valid": true, "key_valid": true, "random_recommendations":
        {"children": "Have fun with the kids outside, but stay alert for our notifications",
        "sport": "You can exercise outdoors - but make sure to stay alert to our notifications",
        "health": "There is no real danger for people with health sensitivities. Just
        keep an eye out for changes in air quality for the next few hours", "inside":
        "The amount of pollutants in the air is noticeable, but still there is no
        danger to your health - It is recommended to continue monitoring changes in
        the coming hours", "outside": "It''s still OK to go out and enjoy a stroll,
        just pay attention for changes in air quality"}, "dominant_pollutant_canonical_name":
        "pm2.5", "dominant_pollutant_description": "Fine particulate matter (<2.5\u00b5m)",
        "dominant_pollutant_text": {"main": "The dominant pollutant is fine particulate
        matter (PM2.5).", "effects": "Particles enter the lungs and cause local and
        systemic inflammation in the respiratory system & heart, thus cause cardiovascular
        and respiratory diseases such as asthma and bronchitis.", "causes": "Main
        sources are fuel burning processes in industry, transportation and indoor
        heating."}}'
  recorded_at: Sun, 06 Mar 2016 02:37:53 GMT
- request:
    method: post
    uri: https://ACacbd98a93f543d9650fd723bc9141cf5:4532a2b33e08e7db1b8c126073245b88@api.twilio.com/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B13039315611&Body=Welcome+to+Air+Alerts%21+You+will+receive+air+quality+updates+for+Denver%2C+CO.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.037'
      Twilio-Request-Id:
      - RQ592ada4868fd458a81216d972d416158
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM48b0858fc13745a790ef2f502cb2d4af", "date_created": "Sun,
        06 Mar 2016 02:37:54 +0000", "date_updated": "Sun, 06 Mar 2016 02:37:54 +0000",
        "date_sent": null, "account_sid": "ACacbd98a93f543d9650fd723bc9141cf5", "to":
        "+13039315611", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - Welcome to Air Alerts! You will receive
        air quality updates for Denver, CO.", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "uri": "/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages/SM48b0858fc13745a790ef2f502cb2d4af.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACacbd98a93f543d9650fd723bc9141cf5/Messages/SM48b0858fc13745a790ef2f502cb2d4af/Media.json"}}'
  recorded_at: Sun, 06 Mar 2016 02:37:54 GMT
recorded_with: VCR 3.0.1
