---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/?apikey=e179df0418984bf9b21826e12f267cc1&last_action_since=2015-01-01&q=air%2Bquality&state=ca&status=signed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"title": "Medical marijuana: cultivation licenses.", "created_at":
        "2015-01-05 16:30:29", "updated_at": "2016-02-08 08:13:22", "id": "CAB00014775",
        "chamber": "lower", "state": "ca", "session": "20152016", "type": ["bill",
        "urgency"], "subjects": [], "bill_id": "AB 21"}, {"title": "Greenhouse Gas
        Reduction Fund: Transit and Intercity Rail Capital Program.", "created_at":
        "2015-01-05 16:30:30", "updated_at": "2015-10-10 07:16:18", "id": "CAB00014777",
        "chamber": "upper", "state": "ca", "session": "20152016", "type": ["bill",
        "appropriation", "fiscal committee"], "subjects": [], "bill_id": "SB 9"},
        {"title": "Organic waste: composting.", "created_at": "2015-02-28 00:13:43",
        "updated_at": "2015-10-19 07:14:[...]
