---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Fair+Air+Quality+in+Denver%2C+CO.+It%27s+still+OK+out+there.+Just+stay+alert+for+notifications+about+change+in+air+quality
    headers:
      Authorization:
      - OAuth oauth_consumer_key="W6iCIJrMEPqP7kVwAnpCBH9aH", oauth_nonce="83193b91ae8859abfe53420b4b254fd6",
        oauth_signature="4pSp9vyEpVdnagoX%2BeQl33hqo7E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1457547239", oauth_token="961818270-fAYB7HkoKAdNhCQfyaLvkdRwfgp7HWbvr7CXOEzb",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 09 Mar 2016 18:14:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d1848e4216ecf6449a37697282ab807d
      X-Response-Time:
      - '117'
      X-Transaction:
      - dbcd0cddcdd1c3c7
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Mar 09 18:14:00 +0000 2016","id":707630530292887552,"id_str":"707630530292887552","text":"Fair
        Air Quality in Denver, CO. It''s still OK out there. Just stay alert for notifications
        about change in air quality","truncated":false,"source":"\u003ca href=\"https:\/\/air-alert.herokuapp.com\/\"
        rel=\"nofollow\"\u003eAir Alert\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":961818270,"id_str":"961818270","name":"Beth
        Secor","screen_name":"bethsecor","location":"Denver, CO","description":"student
        @turingschool","url":"https:\/\/t.co\/xjNj51p7Bo","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xjNj51p7Bo","expanded_url":"http:\/\/bethsecor.github.io\/","display_url":"bethsecor.github.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":65,"friends_count":218,"listed_count":3,"created_at":"Wed
        Nov 21 05:44:37 +0000 2012","favourites_count":50,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":105,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0099B9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/667555694862729216\/fkHSIB-2_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/667555694862729216\/fkHSIB-2_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/961818270\/1433539065","profile_link_color":"9266CC","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFF7CC","profile_text_color":"0C3E53","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 09 Mar 2016 18:14:00 GMT
recorded_with: VCR 3.0.1
