<div class="center landing-page-content">
  <h5 class="white-text">Air Quality SMS Alerts
    <i class="material-icons white-text">announcement</i>
     Air Filter Replacement Reminders
    <i class="material-icons white-text">chat</i>
     Air Quality Information</h5>
  <h1 class="app-title">Air Alert</h1>
  <%= link_to "Login with Twitter", '/auth/twitter', class: "btn cyan lighten-1" %>
</div>
