<div class="container">
  <h4>Outdoor Air Quality Alerts</h4>
  <div class="outdoor-alerts">
    <%= render partial: 'outdoor_alerts' %>
    <hr>
    <%= link_to "Create Outdoor Air Quality Alert", new_outdoor_alert_path, class: "btn cyan lighten-1 right" %>
  </div>
  <div class="indoor-alerts">
    <%= render partial: 'indoor_alerts' %>
    <hr>
    <%= link_to "Create Air Filter Replacement Reminder", new_indoor_alert_path, class: "btn cyan lighten-1 right" %>
  </div>
</div>
