// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('sky_background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10em;
  color: white;
}

h5 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.2em;
}

.landing-page-content {
  padding-top: 100px;
}
