// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('sky_background.jpeg');
  background-size: cover;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10em;
  color: white;
}

.landing-page-content {
  padding-top: 200px;
}
