<div class="container center resources">
  <h4>Resources About Air Quality</h4>
  <%= image_tag 'cloud-flat.png', class: "cloud" %>
  <ul>
    <li><h5><a href="https://www.epa.gov/learn-issues/learn-about-air">Environmental Protection Agency</a></h5></li>
    <li><h5><a href="https://www.epa.gov/haps">Hazardous Air Pollutants</a></h5></li>
    <li><h5><a href="https://www.epa.gov/indoor-air-quality-iaq">Indoor Air Quality</a></h5></li>
    <li><h5><a href="http://ozoneaware.org/">Ozone Aware</a></h5></li>
  </ul>
</div>
